{% extends "base.html" %}

{% block content %}
<div id="content_bg">
  <div id="content">       

<table>
    <tr>
        <td>Red</td>
        <td>Nombre</td>
        <td>Perfil</td>
        <td>Descripción</td>
    </tr>
    <tbody>
    {% for profile  in object_list %}
    <tr class="{% cycle 'alt' 'alt2' %}">
        <td>
            {{ profile.network }}
        </td>
        <td>
            {{ profile.kind }}
        </td>
        <td>
            {{ profile.fullname }}
        </td>
        <td>
            {{ profile.bio }}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

</div>
</div>
{% endblock %}

