<h2>Con el registro puedes gozar de más beneficios y promociones</h2>
<h3>Es fácil y rápido con cualquiera de estas redes sociales</h3>

<center>
<a class='zocial twitter' href="{% url socialauth_begin 'twitter' %}">Registro con Twitter</a>  
<br />
<br />
<a class='zocial facebook' href="{% url socialauth_begin 'facebook' %}">Registro con Facebook</a>
<br />
<br />
<a class='zocial linkedin' href="{% url socialauth_begin 'linkedin' %}">Registro con Linkedin</a>
<br />
<br />
<a href="/update" class="zocial gmail">Registro con E-Mail</a>
</center>