{% extends "base.html" %}

{% block body %}
<h1>Información para conocerte</h1>

<form action="{% url update %}" method="post">{% csrf_token %}
    {{ form.non_field_errors }}
    <fieldset>
    <div class="clearfix">
        <label for="xlInput">Nombre Completo</label>
        <div class="input">
            {{ form.fullname.errors }}
            {{ form.fullname }}
        </div>
    </div>
    <div class="clearfix">
        <label for="xlInput">Email</label>
        <div class="input">
            {{ form.email.errors }}
            {{ form.email }}
        </div>
    </div>
    <div class="clearfix">
        <label for="xlInput">Perfil</label>
        <div class="input">
            {{ form.kind.errors }}
            {{ form.kind }}
        </div>
    </div>
    <div class="clearfix">
        <label for="xlInput">Resumen</label>
        <div class="input">
            {{ form.bio.errors }}
            {{ form.bio }}
            <span class="help-inline">Platícanos de ti y que esperas del evento.</span>
        </div>
    </div>

    <div class="actions">
        <input type="submit" class="btn primary" value="Save changes">
    </div>
    </fieldset>
</form>

{% endblock %}
